<ul class='tabs'>
  {{#each children as |tab|}}
    <li class='tabs-title {{if tab.isActive 'is-active'}}' {{action 'select' tab}} data-test-id={{tab.dasherizedTitle}}>
      <a aria-selected={{if tab.isActive 'true'}}>{{tab.title}}</a>
    </li>
  {{/each}}
</ul>
<div class='tabs-content'>
  {{yield (hash
    tab=(component 'ea-tab' parent=this)
  )}}
</div>
